@import 'mixins';
@import 'variables';
@import 'util';

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue";

    height: 100%;

    background-color: $color-theme-50;
}

#mount {
  position: relative;
  opacity: 1;
  -webkit-transition: -webkit-transform 200ms ease-out, opacity 200ms ease-out;
}

#mount.transition {
  -webkit-transform: translateX(100px);
  opacity: 0;
}

.modal {
    text-align: left;
}

.map-canvas {
    height: 320px;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $color-theme-800;

    padding-top: 1em;
    padding-bottom: 1em;

    .navbar-header > a {
        color: $color-theme-0;

        &:hover {
            color: $color-theme-200;
        }
    }

    .navbar-nav > li > a {
        color: $color-theme-50;

        &:hover {
            color: $color-theme-200;
        }
    }

    .navbar-btn .btn-default {
        background-color: $color-theme-800;
        color: $color-theme-50;

        border-width: 1px;

        &:hover {
            background-color: $color-theme-700;
        }
    }
}

