

@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right) {
    -webkit-border-top-left-radius: $top-left;
    -webkit-border-top-right-radius: $top-right;
    -moz-border-radius-topleft: $top-left;
    -moz-border-radius-topright: $top-right;
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
}

@mixin transform-origin($origin) {
       -moz-transform-origin: $origin;
         -o-transform-origin: $origin;
        -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
            transform-origin: $origin;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
            transform: $transforms;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}
