doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/css/index.css")
        link(rel="stylesheet" type="text/css" href="/css/lib/ionicons/ionicons.min.css")
        link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans")

        script(src="/js/lib/react.js")
        script(src="/js/lib/jquery.js")
        script(src="/js/lib/bootstrap.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKJLYFHzBCpGRHVchAz_kmIDzj-rtZS7g")

        title CSSE3002

    body

        #mount
        #modal_mount

        script(src="/js/app.js")
